<!--每个人负责的代码都写在这里-->
<!--把全部功能写完并测试无误后再推送到远程库-->
<!--这个库开始认真写代码了，请认真对待！-->


<!--myq！-->
<div class="about">
<div class="container">
<div class="about-grids">
<div class="col-md-5 about-grid">
<h3>our management</h3>
<div class="about-info">
	<h4>Casaerta voluptatem adminima veniam</h4>
	    <p>Ut pharetra aue nec augentumonec in velit vel ipsum auliypam elit magna Donec porta diam eu massa. Quisue diam lorem intdum vitaapibus ac scelerisque.</p>
			<h4>Ut pharetra augentumonec velit ipsum</h4>
				<p>Ut pharetra aue nec augentumonec in velit vel ipsum auliypam elit magna Donec porta diam eu massa. Quisue diam lorem intdum vitaapibus ac scelerisque.</p>
					<h4>Casaerta voluptatem adminima veniam</h4>
						<p>Ut pharetra aue nec augentumonec in velit vel ipsum auliypam elit magna Donec porta diam eu massa. Quisue diam lorem intdum vitaapibus ac scelerisque.</p>
</div>
</div>
<div class="col-md-7 about-grid3">
<div class="col-md-6 about-grid1">
<h3>信息 & 建议</h3>
<%= image_tag "p6.jpg", class: "mg-responsive", width: 270 %>
<h4>Casaerta voluptatem uno </h4>
<p>Aliquam leote llus dolor dapibus eget elementum vel curss eleifend elit. Aenean aucto. wisi et urna. Aliqat. volutpat. Duisac lacuestibulum libero nisl porta scelerie</p>
</div>
<div class="col-md-6 about-grid1">
<h3>关于我们</h3>
<%= image_tag "p5.jpg", class: "mg-responsive", width: 270 %>
<h4>Casaerta voluptatem uno </h4>
<p>Aliquam leote llus dolor dapibus eget elementum vel curss eleifend elit. Aenean aucto. wisi et urna. Aliqat. volutpat. Duisac lacuestibulum libero nisl porta scelerie</p>
</div>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
<div class="footer-section">
<div class="container">
<div class="footer-top">
<p>Copyright &copy; 2016. 应用软件开发与测试部 
Application Development and Test</p>
		</div>
<script type="text/javascript">
$(document).ready(function() {
/*
var defaults = {
		containerID: 'toTop', // fading element id
	containerHoverID: 'toTopHover', // fading element hover id
	scrollSpeed: 1200,
	easingType: 'linear' 
	};
*/

$().UItoTop({ easingType: 'easeOutQuart' });

});
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
</div>
