.about {
    padding: 4em 0;
    background: url(ba1.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 520px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;

    h3 {
        font-size: 2.5em;
        margin-bottom: 1em;
        color: #fff;
        font-weight: 400;
        font-family: 'Marmelad-Regular';
        text-transform: capitalize;
       }
    h3 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #fff;
    font-weight: 400;
    font-family: 'Marmelad-Regular';
    text-transform: capitalize;
      }
    h4 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #14b9d7;
    }
   p {
    font-size: 1em;
    color: #B2B2B2;
    line-height: 1.8em;
     }
    h1, h2, h3, h4, h5, h6 {
    padding: 0 0;
    margin: 0 0;
    }
    h4 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #14b9d7;
    }
    p {
    font-size: 1em;
    color: #B2B2B2;
    line-height: 1.8em;
    }
    h4 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #14b9d7;
    }
    p {
    font-size: 1em;
    color: #B2B2B2;
    line-height: 1.8em;
    }
    h3 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #fff;
    font-weight: 400;
    font-family: 'Marmelad-Regular';
    text-transform: capitalize;
       }
       h4 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #14b9d7;
}
p {
    font-size: 1em;
    color: #B2B2B2;
    line-height: 1.8em;
}
}
.container {
    width: 1170px;
}
.container {
    width: 970px;
}
.container {
    width: 750px;
}
.col-md-5 {
    width: 41.66666667%;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0 0;
    margin: 0 0;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0 0;
    margin: 0 0;
}

p {
    padding: 0 0;
    margin: 0 0;
}
p {
    padding: 0 0;
    margin: 0 0;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0 0;
    margin: 0 0;
}
p {
    padding: 0 0;
    margin: 0 0;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0 0;
    margin: 0 0;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0 0;
    margin: 0 0;
}
p {
    padding: 0 0;
    margin: 0 0;
}
.footer-section {
    padding: 4em 0;
    text-align: center;
    background: rgb(29, 29, 29);
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: none;
    text-indent: 100%;
    background: url("to-top2.png") no-repeat 0px 0px;
}
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
