.about {
    padding: 4em 0;
    background: url(ba1.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 520px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.about h3 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #fff;
    font-weight: 400;
    font-family: 'Marmelad-Regular';
    text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0 0;
    margin: 0 0;
}
h3, .h3 {
    font-size: 24px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-md-5 {
    width: 41.66666667%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.footer-section {
    padding: 4em 0;
    text-align: center;
    background: rgb(29, 29, 29);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.about h4 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #14b9d7;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0 0;
    margin: 0 0;
}
h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.about p {
    font-size: 1em;
    color: #B2B2B2;
    line-height: 1.8em;
}
p {
    padding: 0 0;
    margin: 0 0;
}
p {
    margin: 0 0 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer-top p {
    font-size: 13px;
    color: #d5d6d7;
    font-weight: 400;
}
p {
    padding: 0 0;
    margin: 0 0;
}
p {
    margin: 0 0 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}